body {
    background-color: white;
}

h1 {
/*    font-family: Helvetica, 'Lucida Grande', sans-serif;*/
}

p {
/*    font-family: Palatino, serif;*/
    width: 40em;
/*    font-size: 12pt */
}

#reply {font-style: italic; }
a { color:black; }

div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:0;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:32px;
  cursor:pointer;
}